* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

a {
    text-decoration: none;
    display: inline;
}

.purple {
    color:#6415ff;
}

h1 {
    font-size: 30px;
    color: black;
    line-height: 1.25;
}

button {
    cursor: pointer;
}

nav {
    padding-top: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__nav {
   display: flex;
   justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    font-weight: 600;
}

.nav__link:hover {
    border-bottom: 2px solid #6415ff;
}

.nav__link {
    margin: 0 24px;
    position: relative;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
    
}

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    margin-top: 2px;
    padding: 10px 32px;
    margin: 0 24px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17 ,204);
    text-decoration: none;
}

.container {
    padding: 96px 0;
}

header .row {
    align-items: flex-end;
}

.header__description {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description--para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.header__email--btn {
    z-index: 2;
    height: calc(100% - 16px);
    width: 160px;
    margin: 8px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: rgba(80, 17 ,204);
}

.header__customer--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}

.header__customer--img {
    margin-top: 20px;
    width: calc(100% / 2);
    opacity: 0.5;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header__img {
    max-width: 512px;
}