* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

a {
    text-decoration: none;
    display: inline;
}

img {
    width: 100%;
}

.purple {
    color:#6415ff;
}

h1 {
    font-size: 30px;
    color: black;
    line-height: 1.25;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 32px;
    transition: all 300ms ease;
    margin-top: 32px;
}

.btn:hover {
    background-color: rgba(80, 17 ,204);
}

nav {
    padding-top: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.row__nav {
   display: flex;
   justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    font-weight: 600;
}

.nav__link:hover {
    border-bottom: 2px solid #6415ff;
}

.nav__link {
    margin: 0 24px;
    position: relative;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}    

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    margin-top: 2px;
    padding: 10px 32px;
    margin: 0 24px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17 ,204);
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 48px;
    text-align: center;
    border: none; 
    color: #6415ff;
    display: flex;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu__open .menu__backdrop{
    display: flex;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu__link {
    font-size: 28px;
    color: white;
}

.menu__list {
    padding: 24px 0;
}

.container {
    padding: 96px 0;
}

header .row {
    align-items: flex-end;
}

.header__description {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description--para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.header__email--btn {
    z-index: 2;
    height: calc(100% - 16px);
    width: 160px;
    margin: 8px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: rgba(80, 17 ,204);
}

.header__customer--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}

.header__customer--img {
    margin-top: 20px;
    width: calc(100% / 2);
    opacity: 0.5;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header__img {
    max-width: 512px;
}

#features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0; 
    line-height: 1.5;
    letter-spacing: 0.025em;  
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    max-width: 576px;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634 / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.quality__img--wrapper {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
    position: relative;
    margin: 0 56px;
}

.steps__img--wrapper {
    width: 50%;
    height: 50%;
    margin-top: 100px;
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__description {
    padding: 32px 0;
    padding-right: 40px;
}

.steps__list {
    padding-right: 50px;
    width: 100%;
    max-width: 450px;
}

.section__tag {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height:  1;
    padding-right: 24px;
}

.step__title {
    color: #243e63;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    max-width: none;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__name {
   margin-left: 12px; 
   font-size: 20px;
   font-weight: bold;
   color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 50%;
    height: 50%;
}

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 2rem;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.plan:nth-child(odd) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}



.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__btn {
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 32px;
    transition: all 300ms ease;
    margin-top: 2px;
}

.plan.plan:nth-child(2) .plan__btn {
    color: #6415ff;
    background-color: #f7fafc;
}

.testimonials__img {
    height: 40%;
    width: 40%;
    margin-top: 90px;
}

.testimonial {
    margin-top: 40px;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__btn {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    border: none;
    background: #edf2f7;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235) 
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button-btn {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button-btn:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, 
     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 36px;
    transition: all 300ms ease;
}

.start__button-btn:nth-child(1):hover {
    background-color: rgb(229, 62, 62);
}

.start__button-btn:nth-child(2) {
    background:#6415ff;
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.start__button-btn:nth-child(2):hover {
    background-color: rgb(247, 250, 252);
    color: rgb(100, 21, 255);
}

main {
    margin-bottom: 96px;
}

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    width: 100%;
    max-width: 1280;
    margin: 0 auto;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    position: relative;
    background: rgb(116, 44, 255);
}

.footer__img {
    width: 32px;
    height: 32px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 10px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: all 300ms ease;
}

.footer__social--link:hover {
    color: rgba(203, 213, 224)
}

@media (max-width: 550px) {
    .nav__links{
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .header__description {
        width: 100%;
        display: flex;
    }

    .section__para {
        display: none;
    }

    .header__img--wrapper {
        padding-top: 40px;
    }

    .row__narrow {
        max-width: 550px;
    }

    .section__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__para {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: calc(100% / 2);
    }

    .plans {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}
